h1{
	text-align:center;
}
.middle{
	border:1px solid black ; border-spacing:1px; padding:1px;
}
.middle td,
.middle th {
border: 1px solid black;
padding: 1px;
}
.center {
text-align: center;
}

.right {
text-align: right;
}
.blue{
	background-color:blue
}
.green{
	background-color:green
}